.refund-order-div1{
    position: absolute;
    top:180px;
}

.refund-order-heading{
    position: relative;
    top:0;
    left:80px;
    font-family:'Roboto';
    font-size:20px;
    color:black;
    font-weight:bold;
}

.refund-order-div2{
    position: relative;
    left: 80px;
    top: 5px;
    height:400px;
    width:591px;
    background-color:#e4e4e4;
    ;
}

.table-4 {
    position: absolute;
    border-collapse: collapse;
    font-family:'Roboto';
}

.table-4 thead tr {
    background-color: #023E58;
    color: #ffffff;
    text-align: center;
}

.table-4 th,
.table-4 td {
    padding: 12px 50px;
}

.table-4 tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align:center;
}

.table-4 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-4 tbody tr:last-of-type {
    border-bottom: 2px solid #023E58;
}

.refund-order-bt1{
    font-size:15px;
    position: relative;
    left:130px;
    top:350px;
    border-radius:15px;
    padding:2px 8px;
}

.refund-order-bt2{
    font-size:15px;
    position: relative;
    left:340px;
    top:350px;
    border-radius:15px;
    padding:2px 8px;
}
