.view-medicaldevices-div1{
    position: absolute;
    top:180px;
}

.view-medicaldevices-heading-1{
    position: relative;
    top:0;
    left:80px;
    font-family:'Roboto';
    font-size:20px;
    color:black;
    font-weight:bold;
}

.table-9 {
    position: relative;
    left: 380px;
    top: 5px;
    border-collapse: collapse;
    font-family:'Roboto';
}

.table-9 thead tr {
    background-color: #023E58;
    color: #ffffff;
    text-align: center;
}

.table-9 th,
.table-9 td {
    padding: 12px 12px;
}

.table-9 tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align:center;
}

.table-9 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-9 tbody tr:last-of-type {
    border-bottom: 2px solid #023E58;
}


.view-medicaldevices-div2{
    padding: 0 5px;
    text-align:center;
    font-family:'Roboto';
    font-size: 17px;
    position: absolute;
    top: 68px;
    left: 80px;
    height:141px;
    width:200px;
    border: 2px solid black;
    border-radius:10px;
}

.view-medicaldevices-div2 a{
    text-decoration:none;
    color: inherit;
}