

.box2{
    margin-top: 3.5%;
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 240px;
    left: 100px;
    /* top: 180px; */
    position: fixed;
  
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.box3{
    margin-top: 0.5%;
    box-sizing: border-box;
    position: absolute;
    width: 290px;
    height: 240px;
    left: 20%;
    /* top: 180px; */
    
  
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
  
.viewer-name{
  margin-left: 18%;
  margin-top: 0.05%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
} 
  
.actor{
    position: absolute;
    width: 184px;
    height: 37px;
    left: 50px;
    margin-top: 35px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.actor1{
    position: absolute;
    width: 175px;
    height: 28px;
    left: 50px;
    margin-top: 30px;
    cursor: not-allowed;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFEBCC;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
}



.body-right-view{
    /* position: absolute; */
    float: right;
    margin-top: 0.5%;
    width: 100%;
    /* left: 50%; */
    /* margin-left: 20%; */
}

.container2-view {
    padding-top: 20px;
    padding-bottom: 30px;
    /* left: 800px; */
    border-radius: 10px;
    background-color: #FFEBCC;
    width: 61%;
    height: auto;
    margin-bottom: 5px;
    box-sizing: border-box;
    margin-top: -5px;
    margin-left: 35%;
    
    
}

.container3 {
  padding-top: 20px;
  padding-bottom: 30px;
  /* left: 800px; */
  border-radius: 10px;
  background-color: white;
  width: 60%;
  height: auto;
  margin-bottom: 5px;
  box-sizing: border-box;
  margin-top: -40px;
  margin-left: 45%;
  
  
}



.topic1-view{
    margin-top: -6px;
    width: 220px;
    height: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-left: 35%;
  }


table {
  
    width: 95%;
    margin-left: 18px;
    margin-right: 10px;
    font-size: large;
    border-top: 1px solid black;
   
    
  }
  
  
  
  
  th{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: justify;
    padding-left: 20px;
  }
  
  
  
  th,
  td {
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    
    padding-top: 5px;
    
  }
  
  td {
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 13px;
    padding: 7px;
    background-color: white;
    text-align: justify;
    padding-left: 20px;
    border-bottom: 3px solid #F1F1E6;
    border-top: 15px solid #F1F1E6;
   
  }
  
  .viewMore{
    background-color: white;
    border: white;
    cursor: pointer;
  }
  
  .vm{
    text-align: center;
  }

  .container#blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
    opacity: 80;
}

  #popup{
    position: fixed;
    top: 52%;
    left: 51%;
    transform: translate(-50%,-50%);
    width: 650px;
    height: 483px;
    /* padding-top: px; */
    padding-right: 10px;
    padding-left: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #F1F1E6;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#popup a{
  margin-top: 72%;
  /* padding-right: 5%; */
}

#popup.active{
    top: 52%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

#popup2{
    
  max-height: 380px;
  overflow-y: auto;
  background-color: white;
  
  border-radius: 5px;
  width: 100%;
}





