.side_options {
    margin-top: 29px;
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    /* line-height: 23px; */

    color: #000000;
}

.side_element {
    position: absolute;
    width: 311px;
    height: 450px;
    left: 70px;
    top: 400px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    z-index: 999;
    /* margin-top: 16%; */
}

.side_option-content {
    /* display: none; */
    position: absolute;
    background-color: #9CAEBC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 80%;
    margin-top: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    z-index: 999;
}

.side_options a {

    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 999;

}

.heart {
    background-color: #F1F1E6;
    width: 100px;
    height: 30px;
    font-weight: 500;
}

.heart_p {
    position: absolute;
    width: 270px;
    height: 33px;
    left: 500px;
    top: 320px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;
}

.details {
    position: absolute;
    width: 1200px;
    height: 497px;
    left: 500px;
    top: 400px;
    margin-bottom: 100px;

    background: #F1F1E6;
    border-radius: 15px;
}

.edit {
    width: 361px;
    height: 50px;
    left: 500px;
    top: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #F1F1E6;
    color: rgb(0, 0, 0);
}

input[type=submit] {
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    width: 145px;
    height: 47px;
    left: 1050px;
    top: 528px;
    border-radius: 25px;
}

.button3 {
    position: absolute;
    width: 240px;
    height: 79.18px;
    left: 894px;
    top: 516px;
    background-color: #000000; 
    border-radius: 25px;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
} 

.change {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 34px;
    top: 230px;
    margin-bottom: 100px;

    background: #f1f1e6;
}

.change-myaccount {
    position: absolute;
    width: 200px;
    height: 20px;
    left: 34px;
    top: 430px;
    margin-bottom: 100px;

    background: #f1f1e6;
}

a {
    color: #000000;
    text-decoration: none;
}

.edit-box-3 {
    position: absolute;
    width: 430px;
    height: 323px;
    left: 452px;
    top: 232px;

    background: #F1F1E6;
    border-radius: 15px;
}

.edit-box-myaccount {
    position: absolute;
    width: 430px;
    height: 483px;
    left: 452px;
    top: 232px;

    background: #F1F1E6;
    border-radius: 15px;
}

.edit-box-changeusername {
    position: absolute;
    width: 430px;
    height: 223px;
    left: 622px;
    top: 0px;

    background: #F1F1E6;
    border-radius: 15px;
}

.edit-box-changepassword {
    position: absolute;
    width: 430px;
    height: 353px;
    left: 622px;
    top: 0px;

    background: #F1F1E6;
    border-radius: 15px;
}

.p-edit {
    position: absolute;
    width: 347.33px;
    height: 37px;
    left: 454px;
    top: 166px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 23px;

    color: #000000;
}

.label-edit {
    position: absolute;
    margin-left: 40px;
    top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.input-edit {
    position: absolute;
    width: 361px;
    height: 50px;
    left: 34px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
}