/* body {
    min-height: 115vh;
} */

.p-order {
    margin: auto;
    font-size: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    text-align: center;
}    

.details {
    text-align: center;
    background: #4682B4;
    border-radius: 15px;
    box-shadow: 7px 7px 7px 7px;
    margin-bottom: 80px;
}
.details h2{
    padding-top: 40px;
}
.full-details{
    display: flex;
    width: 1201px;
    margin-bottom: 100px;
    margin: auto;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
.box1 {
    width: 329.23px;
    height: 220px;
    /* left: 56px;
    top: 32px; */
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}


.box1 img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
}


.data {
    font-weight: 700;
}


.box1 p {
    /* position: relative; */
    top: 30px;
    /* margin-left: 30px; */
    font-family: 'Roboto';
    /* margin-top: -1px; */
}

.cart-button {
    /* position: relative; */
    width: 120px;
    height: 40px;
    /* left: 105px;
    top: 40px; */
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
}